export VIRTUAL_ENV=.venv
layout python-venv
# So we can run scripts from top level and in sub directories
export PYTHONPATH="$PWD"
# This is not needed for now because pydantic and make loads it for us
# dotenv
